<!doctype html>
<html lang="en" class="wf-loading">
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6413714/7011752/css/fonts.css" />

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Matthew Lehner" %></title>
  <%= yield_content :head %>

  <%= stylesheet_link_tag "app" %>
  <%= render_partial "partials/google-analytics" if build? %>
</head>

<body class="<%= page_classes %>">
  <%= render_partial "partials/site-header" %>
  <%= yield %>
  <%= render_partial "partials/site-footer" %>
  <%= render_partial "partials/webfonts" %>
</body>
</html>
